#abc{

    display: block;

    border-radius: 5px;
    border: 5px #ddd solid;
    background-color: #fff;
    width: 350px;
    margin: auto;
    padding-top:50px;
    padding-right:50px;
    padding-left:30px;
    padding-bottom:30px; 
    



}